.list-film-item {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .film-poster {
    width: 200px;
    height: auto;
    margin-top: 10px;
  }
  
  #film-details p {
    margin: 5px 0;
  }
  
  #film-details button {
    margin-right: 10px;
  }